<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKeys_CN</key>
	<dict>
		<key>OpenAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>A8998-4DCC4-97DA8-97174</string>
		</dict>
		<key>VideoAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>5660C-94BE6-67BB7-6677D</string>
		</dict>
	</dict>
	<key>APIKey_EN</key>
	<string>RGAPI-c287db81-7921-41c6-a276-16ce3c4aef9c</string>
</dict>
</plist>
