<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKeys_CN</key>
	<dict>
		<key>OpenAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>5E4B0-55494-34708-B3444</string>
		</dict>
		<key>VideoAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>7447D-46440-EBB38-B6688</string>
		</dict>
	</dict>
	<key>APIKey_EN</key>
	<string>RGAPI-2ad805c6-a7f9-4a5c-8e52-a58d4829e7b7</string>
</dict>
</plist>
