<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKeys_CN</key>
	<dict>
		<key>OpenAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>C0B4F-BFA2A-FCB42-6916A</string>
		</dict>
		<key>VideoAPIKey_CN</key>
		<dict>
			<key>DAIWAN-API-TOKEN</key>
			<string>179C4-047AC-CC895-3230A</string>
		</dict>
	</dict>
	<key>APIKey_EN</key>
	<string>RGAPI-e7053bd2-de65-4f80-b19c-9bd8bb005fc9</string>
</dict>
</plist>
